<div id="comment-form" class="mb-3">
  <%= form_with model: comment, url: song_comments_path(song) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_area :content, rows: 3, class: 'form-control', placeholder: 'コメントを入力' %>
    <%= f.submit '投稿する', class: 'btn btn-primary' %>
  <% end %>
</div>