<footer class="bg-light py-3 mt-auto fixed-bottom">
  <div class="container">
    <ul class="list-inline text-center">
      <li class="list-inline-item"><a href="#">利用規約</a></li>
      <li class="list-inline-item"><a href="#">プライバシーポリシー</a></li>
    </ul>
  </div>
</footer>