<div class="home-page-background d-flex flex-column justify-content-center align-items-center text-white">
  <div class="text-center mb-5 overlay">
    <h1>VOCALOID Selection</h1>
  </div>

  <div class="app-description bg-opacity">
    本サービスはVOCALOID等の音声合成ソフトを使用して作成された楽曲専用の動画プラットフォームです
  </div>

  <div class="buttons text-center">
    <%= link_to "楽曲を探す", songs_path, class: "btn btn-light m-2" %>
    <% if current_user && current_user.artist? %>
      <%= link_to "楽曲を投稿する", new_song_path, class: "btn btn-light m-2" %>
    <% end %>
  </div>
</div>