<div id="evaluation_buttons" class="d-flex flex-wrap gap-2">
  <% Evaluation.evaluation_points.each do |point, value| %>
    <% evaluation_count = @song.evaluations.where(evaluation_point: value).count %>
    <% evaluation = @song.evaluations.find_or_initialize_by(user: current_user, evaluation_point: value) %>
    <% is_evaluated = evaluation.persisted? %>
    <% if is_evaluated %>
      <%= link_to "#{t("evaluation_points.#{point}")}がすき！ (#{evaluation_count})", 
                  song_evaluation_path(@song, evaluation),
                  id: "evaluation_form_#{value}", 
                  class: "btn btn-primary", 
                  data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "#{t("evaluation_points.#{point}")}がすき！ (#{evaluation_count})", 
                  song_evaluations_path(@song, evaluation: { evaluation_point: value }),
                  id: "evaluation_form_#{value}", 
                  class: "btn btn-outline-primary", 
                  data: { turbo_method: :post } %>
    <% end %>
  <% end %>
</div>