<div class="container mt-4">
  <div class="text-center">
    <%= render 'songs/search_form', q: @q, search_url: songs_path %>
  </div>

  <%= render 'songs/songs_table', songs: @songs %>

  <div class="pagination">
    <%= paginate @songs, theme: 'bootstrap-5' %>
  </div>
</div>