<div class="list-group mb-3">
  <div class="buttons text-center">
    <button class="btn btn-secondary">楽曲作成フォーム</button>
  </div>
  <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>動画1</span>
      <div>
          <button class="btn btn-primary">サムネ</button>
          <button class="btn btn-danger">タイトル</button>
      </div>
  </div>
  <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>動画2</span>
      <div>
          <button class="btn btn-primary">サムネ</button>
          <button class="btn btn-danger">タイトル</button>
      </div>
  </div>
  <div class="list-group-item d-flex justify-content-between align-items-center">
      <span>動画3</span>
      <div>
          <button class="btn btn-primary">サムネ</button>
          <button class="btn btn-danger">タイトル</button>
      </div>
  </div>
</div>