<div class="container mt-4">
  <h1 class="text-center mb-4">投稿した楽曲</h1>

  <div class="text-center">
    <%= render 'songs/search_form', q: @q, search_url: my_songs_songs_path %>
  </div>

  <%= render 'songs/songs_table', songs: @songs %>

  <% if @songs.empty? %>
    <p class="text-center">投稿された楽曲はありません。</p>
  <% else %>
    <div class="pagination">
      <%= paginate @songs, theme: 'bootstrap-5' %>
    </div>
  <% end %>
</div>