@import "application.bootstrap";
@import "home";

.ui-autocomplete {
  z-index: 1050;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  background-color: white;
  padding: 0;
  list-style-type: none;
}

.ui-menu-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.ui-menu-item:hover {
  background-color: #f8f8f8;
}

.ui-helper-hidden-accessible {
  display: none !important;
}

